@import './colors.scss';

.charStats {
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #DED0B2;
        width: 40%;
        padding: .5rem;
        margin: .5rem;
    }
    &__name {
        font-weight: 800;
    }
    &__values {
        display: flex;
    }
    &__base {
        color: aliceblue;
        margin-top: -.5rem;
    }
    &__mod {
        margin-top: .25rem;
    }

    &__button {
        background-color: none;
        border: none;
        padding: 1rem;
    }
    &__buttonIcon {
        font-size: 32px;
        font-weight: 800;
    }
    &__temp {
        display: flex;
        &--hp {
            color: red;
        }
    }
    &__tempInput {
        width: 32px;
        border: none;
        background-color: transparent;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &__headlines {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__h3 {
        font-size: 32px
    }
    &__HpSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__HpBox {
        display: flex; 
        flex-direction: column;
    }
    &__HpButtonBox {
        display: flex;
        justify-content: space-around;
    }
    &__HpButton {
        background: $brightBasicBeige;
        border: .1rem solid $darkBasicBeige;
        padding: .3rem
    }
    &__HpBar {
        position: relative;
        height: 2rem;
        width: 15rem;
        border: .1rem solid $brightBlack;
        &--inner {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.9rem;
            background-color: $healthyGreen;
        }
        &--overheal {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.9rem;
            background-color: $bonusBlue;
        }
        &--numbers {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
    &__HpValueInput {
        background: $brightBasicBeige;
        border: .1rem solid $darkBasicBeige;
        padding: .1rem;
        text-align: center;
    }
    .healthyGreen {
        color: $healthyGreen;
    }
    .dangerRed {
        color: $dangerRed
    }
}