/* Base color*/
$black: #000;
$brightBlack: #333;
$grey: #989898;
$brightWhite: #FFF;
$middleWhite: #F0F0F0;
$darkWhite: #DBDBDB;
$brightBasicBeige: #FEF9E7;
$basicBeige: #DED0B2;
$darkBasicBeige: #DBC56B;
$dangerRed: #CF1E1B;
$healthyGreen: #6BDB8B;
$bonusBlue: #6BDBE8;